$color:rgb(0, 255, 64);
$ImgFondo:url('/Img/fon.jpg');
$ImgUser:url('/Img/user.png');
$ImgCurso:url('/Img//curso.png');
$flecha:url('/Img/flecha.png');
$widthHeight:100% 100%;
$width:100%;
$width1:100px;
$width2:50px;
$size:100px;
$magin:auto;
$center:center;
$FontComic:'Comic Neue', 'cursive';
$FontLobster:'Lobster', cursive;
$x: 50%;
$y: 50%;

